<!doctype html>
<head>
<link href="style-iphone.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

     <h3 class="<%significanceClass%>">Significance</h3><p><%significance%></p>
     <h3 class="<%categoryClass%>">Category</h3><p><%category%></p>
     <h3 class="<%collectionClass%>">Collection</h3><p><%collection%></p>
          <h3 class="<%typeofitemClass%>">Type of Item</h3><p><%typeofitem%></p>
    <h3 class="<%citationClass%>">Cite As</h3><%citation%>
</body>
</html>