<!doctype html>
<head>
<link href="style-iphone.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <h3 class="<%classClass%>">Class</h3><p><%class%></p>
    <h3 class="<%groupClass%>">Group</h3><p><%group%></p>
    <h3 class="<%typeClass%>">Type</h3><p><%type%></p>
    <h3 class="<%typeofitemClass%>">Type of Item</h3><p><%typeofitem%></p>
    <h3 class="<%citationClass%>">Cite As</h3><%citation%>
</body>
</html>